{{#bold}}Hi "https://github.com/rajatjindal/spin-tail/releases/download/{{TagName}}/spin-tail_{{TagName}}_linux_amd64.tar.gz".{{/bold}}

{
  "name": "tail",
  "description": "A plugin to tail logs of app deployed on fermyon cloud",
  "homepage": "https://github.com/rajatjindal/spin-tail",
  "version": "{{ trimPrefix "v" .TagName }}",
  "spinCompatibility": ">=1.4",
  "license": "Apache-2.0",
  "packages": [
    {
      "os": "linux",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-tail/releases/download/{{ TagName }}/spin-tail_{{ TagName }}_linux_amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "linux",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-tail/releases/download/{{ TagName }}/spin-tail_{{ TagName }}_linux_arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-tail/releases/download/{{ TagName }}/spin-tail_{{ TagName }}_darwin_arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-tail/releases/download/{{ TagName }}/spin-tail_{{ TagName }}_darwin_amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-tail/releases/download/{{ TagName }}/spin-tail_{{ TagName }}_windows_amd64.tar.gz{{/addURLAndSha}}
    }
  ]
}